<div class="reveal">
  <div class="slides">
    <% @werks.each do |werk| %>
      <section>
        <figure><%= image_tag werk.url %></figure>
        <figcaption> 
          <h2><%=werk.name%></h2>
          <%=werk.info%>
        </figcaption>
      </section>
    <% end %>
  </div>
</div>


